@model Apps4KidsWeb.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Passwort ändern";
    ViewBag.CurrentPage = "Profil bearbeiten";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()

    <p>
        <input type="submit" value="Passwort ändern" />
    </p>
    
}

<div>
    @Html.ActionLink("Abbrechen", "AlterProfile","Profile")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
