@model Apps4KidsWeb.Models.PasswordForgottenViewModel

@{
    ViewBag.Title = "Passwort zurücksetzen";
    ViewBag.CurrentPage = "Login";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    <p>
        <input type="submit" value="Passwort zurücksetzen" />
    </p>
}

<div>
    @Html.ActionLink("Abbrechen", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
