@model Apps4KidsWeb.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Passwort zurücksetzen";
    ViewBag.CurrentPage = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model=> model.UserID)
    @Html.HiddenFor(model=> model.ConfirmationCode)
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Passwort ändern" />
    </p>
}

<div>
    @Html.ActionLink("Abbrechen", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
